@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #FCF0CC;
    font-family: 'Tillium web', sans-serif;
    margin: 0;
}

nav {
    background-color: #00092C;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

nav a {
    color: #fff;
    margin-left: 30px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

header {
    background-image: url('https://images.unsplash.com/photo-1555099962-4199c345e5dd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    background-size: cover;
    background-position: center center;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    position: relative;
}

header::after {
    content: '';
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.4;
}

header * {
    position: relative;
    z-index: 1;
}

header h1 {
    font-size: 60px;
    margin-bottom: 5px;
    margin-top: 0;
}

header p {
    font-size: 30px;
    margin: 0;
}

section {
    padding: 40px;
    text-align: center;
}

section h2 {
    margin-top: 0;
}

section p {
    margin-top: 0;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 20px auto 0;
}

.project-tile {
    margin: 10px;
    max-width: 250px;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.project-tile:hover {
    transform: scale(1.05);
}

.project-tile img {
    max-width: 100%;
}

.project-tile p {
    color: #000;
    font-size: 20px;
    margin-top: 10px;
}

.c-color {
    background-color: #c7403c;
}

.social-ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social-ul a {
    border-radius: 50%;
    border: 3px solid black;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 50px;
    width: 50px;
    color: #fff;
    font-size: 25px;
    margin: 0 10px;
}

footer {
    background-color: #00092C; /*A64253*/
    color: #fff;
    padding: 10px;
    text-align: center;
}

@media (max-width: 440px) {
    section {
      padding: 20px;
    }
  }